{% extends "app/base.html" %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">About ME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/FAQ" style="color: gray;">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">Hello,My name is shahab and i have over 4 years of coding experience most of which in python but i also have experience in html and css.I use Django And Flask To Make My Website Like This One.</p>
      <a href="/" class="btn btn-primary">Back To Home</a>
    </div>
  </div>

{% endblock %}