{% extends "app/base.html" %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: gray;">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about/FAQ">FAQ</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">FAQ</h5>
    <p class="card-text">Maybe You Can Find Your Answer Here.</p>
    <a href="/" class="btn btn-primary">Back To Home</a>
  </div>
</div>

{% for FAquestion in object_list %}
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ FAquestion.question }}</h5>
      <hr>
      <p class="card-text">{{ FAquestion.Answer }}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}