{% extends "App/base.html" %}

{% block content %}

<title>PythonOverFlow</title>

{% for post in object_list %}
    <div class="card">
        <a href="{% url 'post_detail' post.pk %}" style="text-decoration: none; color: black">
            <h5 class="card-header">{{ post.title }}</h5>
        </a>
        <div class="card-body">
            <p class="card-text"><i>{{ post.context }}</i></p>
            <hr>
            <p class="card-text">By {{ post.author }} On {{ post.date_created }}</p>
        </div>
    </div>
    <br>
{% endfor %}

{% endblock %}