{% extends "App/base.html" %} {% block content %}

<title>PythonOverFlow - Create A Post</title>

{% if user.is_authenticated %}
<div class="form-group">
  <form method="POST">
    {% csrf_token %} {{ form.media }} {{ form.as_p }}
    <button class="btn btn-outline-danger">Post</button>
  </form>
</div>

<script>
  var name = "{{ user.id }}";
  document.getElementById("username").value = name;
</script>

{% else %}
<br />
<div class="alert alert-danger" role="alert">Nice Try! Please Log In</div>
{% endif %} {% endblock %}
