{% extends "app/base.html" %}

{% block content %}

<title>PythonOverFlow - Change Password</title>

{% if user.is_authenticated %}
    <br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-danger">Change Password</button>
        </form>
    </div>
{% else %}
    <br>
    <div class="alert alert-danger" role="alert">
        Nice Try!But Log In First
    </div>
{% endif %}

{% endblock %}